h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}
h1 {
  font-size: 3em;
}
h3 {
  font-size: 1.6em;
  line-height: 1.4em;
}
p {
  font-size: 14px;
  font-family: 'Nunito Sans', sans-serif;
  
  margin-top: 5px;
}
a {
  color: #444;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}
a:hover,
a:focus {
  color: #ff4f57;
}
img {
  max-width: 100%;
}
ul {
  margin: 0px;
  padding: 0px;
}
ul li {
  list-style: none;
  margin: 0;
}
ol {
  list-style: none;
}
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}
.center {
  text-align: center;
}
::selection {
  background: #ff4f57;
  color: #fff;
}
::-moz-selection {
  background: #ff4f57;
  color: #fff;
}
.btn {
  padding: 12px 30px;
  color: #fff;
  position: relative;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  border: none;
}
.page-header {
    padding: 40px 0;
    margin: 0;
    border-top: 1px solid #999;
    position: relative;
}
.page-header .product-title {
    font-size: 30px;
    line-height: 38px;
    font-weight: 900;
    letter-spacing: 1px;
    color: #fff;
}
.breadcrumb-wrapper {
    text-align: center;
}
.job-detail {
    background: #F5F5F5;
}
.job-detail .medium-title {
    margin-bottom: 30px;
    font-weight: 900;
}
.job-detail .box {
    background: #fff;
    margin-bottom: 30px;
    padding: 30px;
}
.box{
    padding:15px;
    border:1px solid #ddd;
    box-shadow:3px 3px 9px rgba(0,0,0,.075)
}
.job-detail .thumb {
    float: left;
    margin: 0 20px 0 0;
}
.job-detail .text-left {
    float: left;
    width: 75%;
}
.job-detail .text-left h3 {
    font-size: 24px;
    margin: 0 0 5px 0;
}
.job-detail .text-left p {
    margin: 0 0 10px 0;
}

.job-detail .text-left .price {
    font-size: 18px;
    padding: 10px 0 15px 0;
    display: block;
    clear: both;
}
.job-detail .text-left .price i {
    font-size: 15px;
    margin-right: 10px;
    color: #ff4f57;
}
.job-detail .text-left .btn {
    margin-right: 20px;
}
.job-detail .clearfix {    
    display: inline-block;
    width: 100%;
}
.job-detail .clearfix h4 {
    margin-bottom: 10px;
}
.job-detail .clearfix p {
    color: #888;
    margin: 0 0 20px 0;
}
.job-detail .clearfix ul li {
    padding: 0 0 30px 20px;
    overflow: hidden;
    display: block;
    font-size: 14px;
    color: #666;
    position: relative;
}
.job-detail .clearfix ul li i {
    position: absolute;
    left: 0;
    top: 4px;
    margin-right: 5px;
    color: #ff4f57;
}
.job-detail .sidebar .thumb {
    width: 100%;
    background: #000;
    position: relative;
    border-radius: 4px;
    margin-bottom: 20px;
}
.job-detail .sidebar .text-box h4 {
    margin: 0 0 12px 0;
}
.job-detail .sidebar .text-box h4 a {
    color: #ff4f57;
}
.job-detail .sidebar .text-box p {
    color: #888;
    margin: 0 0 10px 0;
}
.job-detail .sidebar .text-box a.text {
    display: block;
    color: #888;
    padding: 0 0 5px 0;
}
.job-detail .sidebar .text-box a.text i {
    margin-right: 5px;
    color: #ff4f57;
}
.job-detail .sidebar .text-box strong.price {
    color: #666;
    font-size: 15px;
    display: block;
    padding: 3px 0 15px 0;
}
.job-detail .sidebar .text-box strong.price i {
    margin-right: 5px;
    color: #ff4f57;
}
.job-detail .sidebar .sidebar-jobs ul li {
    display: block;
    overflow: hidden;
    padding: 15px 0;
    border-bottom: 1px solid #eee;
}
.job-detail .sidebar .sidebar-jobs ul li:last-child {
    border: none;
}
.job-detail .sidebar .sidebar-jobs ul li a {
    display: block;
    padding: 0 0 5px 0;
}
.job-detail .sidebar .sidebar-jobs ul li span {
    color: #888;
    display: block;
}
.job-detail .sidebar .sidebar-jobs ul li span i {
    margin-right: 5px;
    color: #ff4f57;
}
.job-detail .text-left {
    margin-top: 15px;
}
.job-detail .text-left .btn {
    margin: 10px 0;
}
.header-detail{
    border:1px solid #ddd;
    box-shadow:3px 3px 9px rgba(0,0,0,.075);
    background:#fff;
    margin-bottom:30px
}
.header-detail .header-content{
    padding:20px;
}
.header-detail .header-content h3
{
    font-size:28px;
    margin-bottom:5px
}
.header-detail .header-content p
{
    line-height:30px
}
.header-detail .header-content p span
{
    color:#888
}

.detail-company{
    padding:20px;
    display:inline-block;
}
.detail-company h4
{
    font-size:18px;
    margin-bottom:5px
}
.detail-company h5
{
    color:#888;
    font-size:16px;
    line-height:30px
}
.detail-company .name
{
    padding-right:100px
}
.detail-company .img-thum
{
    width:70px;
    height: 70px;
    float:right
}
.section
{
    padding:60px 0
}
.section-title
{
    font-size:36px;
    padding:0 0 30px;
    font-weight:900
}
.small-title{
    font-size:22px;
    margin-bottom:30px
}
.sidebar .detail-list li
{
    border-bottom:1px dotted #eee;
    padding:7px 0
}
.sidebar .detail-list li a
{
    text-decoration:none;
    margin-right:10px;
    color:#888;
    display:inline-block;
    transition:all .2s ease-in-out;
    -moz-transition:all .2s ease-in-out;
    -webkit-transition:all .2s ease-in-out;
    -o-transition:all .2s ease-in-out
}
.sidebar .detail-list li .type-posts
{
    color:#444;
    float:right;
    font-size: 15px;
}
sidebar .detail-list li:last-child
{
    border:none
}
hr { 
  
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
